################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Prakrishta.Data.Sample/bin/Debug/netcoreapp2.2
/Prakrishta.Data.Sample/obj
/Prakrishta.Data/obj
/Prakrishta.Data/bin/Debug/netstandard2.0
/.vs
/Prakrishta.Data/bin
/Prakrishta.Data.Sample/bin/Release/netcoreapp2.2
/Prakrishta.Data.Sample/bin/Debug/netcoreapp3.0
/coverage-report
/Prakrishta.Data.Sample/bin
/Prakrishta.Data.UnitTest/bin/Debug/net10.0
/Prakrishta.Data.UnitTest/obj
/Prakrishta.Data.UnitTest/TestResults/
